<div *ngIf="loading" class="loading-screen">
  <p>Chargement des données, veuillez patienter...</p>
</div>

<div *ngIf="!loading" class="table-container">
  <div class="flex">
    <form [formGroup]="columnFormGroup">
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" placeholder="Entrez un nom">
      </mat-form-field>
    </form>
    
    <button mat-flat-button (click)="addColumn()" color="primary" class="button">
      <span>Ajout colonne</span>
    </button>
    
    <button mat-flat-button color="primary" (click)="openReorderDialog()" class="button">
      <span>Ordre colonnes</span>
    </button>
    
    <button mat-flat-button color="primary" (click)="ExportTOExcel()" class="button">
      <span>Export</span>
    </button>
  </div>

  <div #TABLE>
    <table mat-table [dataSource]="transformedData" class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef (click)="openModaleEdit(column)">
          {{column}}
        </th>
        <td mat-cell *matCellDef="let element" [attr.data-is-group]="element.isGroup">
          <ng-container *ngIf="!isPricingColumn(column); else pricingCell">
            {{element[column]}}
          </ng-container>
          <ng-template #pricingCell>
            <input [(ngModel)]="element[column]"
              (blur)="updatePricings(element, column)"
              [disabled]="element.isGroup"
              [ngClass]="{'disabled': element.isGroup}"
              class="input-table">
          </ng-template>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [attr.data-is-group]="row.isGroup"></tr>
    </table>
  </div>
</div>